################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/UnitTestingDemo/v16
/.vs/UnitTestingDemo/DesignTimeBuild
/*/obj
/*/bin
